## Exercici
Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una **mostra aleatòria simple** i una **mostra sistemàtica**.

*Afagarem per le'excercici una base de dades dels jugadors de futbol del joc Fifa20 a [Kaggle](https://www.kaggle.com/stefanoleone992/fifa-20-complete-player-dataset?select=players_20.csv)*

In [1]:
import os
import pandas as pd
import numpy as np

In [20]:
#importem el log en una columna per registre
pd.options.display.max_columns = None
datasets_path = r"D:\Oscar\FORMACIO\DIGITAL\DATA SCIENCE with Python\Datasets" + os.sep
file = "players_fifa20.csv"

df = pd.read_csv(datasets_path + file)
df.head(3)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,potential,value_eur,wage_eur,player_positions,preferred_foot,international_reputation,weak_foot,skill_moves,work_rate,body_type,real_face,release_clause_eur,player_tags,team_position,team_jersey_number,loaned_from,joined,contract_valid_until,nation_position,nation_jersey_number,pace,shooting,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning,player_traits,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,ram,lm,lcm,cm,rcm,rm,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,94,95500000,565000,"RW, CF, ST",Left,5,4,4,Medium/Low,Messi,Yes,195800000.0,"#Dribbler, #Distance Shooter, #Crosser, #FK Sp...",RW,10.0,NaN,2004-07-01,2021.0,NaN,NaN,87.0,92.0,92.0,96.0,39.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN,"Beat Offside Trap, Argues with Officials, Earl...",88,95,70,92,88,97,93,94,92,96,91,84,93,95,95,86,68,75,68,94,48,40,94,94,75,96,33,37,26,6,11,15,14,8,89+2,89+2,89+2,93+2,93+2,93+2,93+2,93+2,93+2,93+2,93+2,92+2,87+2,87+2,87+2,92+2,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,93,58500000,405000,"ST, LW",Right,5,4,5,High/Low,C. Ronaldo,Yes,96500000.0,"#Speedster, #Dribbler, #Distance Shooter, #Acr...",LW,7.0,NaN,2018-07-10,2022.0,LS,7.0,90.0,93.0,82.0,89.0,35.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,"Long Throw-in, Selfish, Argues with Officials,...",84,94,89,83,87,89,81,76,77,92,89,91,87,96,71,95,95,85,78,93,63,29,95,82,85,95,28,32,24,7,11,15,14,11,91+3,91+3,91+3,89+3,90+3,90+3,90+3,89+3,88+3,88+3,88+3,88+3,81+3,81+3,81+3,88+3,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,92,105500000,290000,"LW, CAM",Right,5,5,5,High/Medium,Neymar,Yes,195200000.0,"#Speedster, #Dribbler, #Playmaker , #Crosser,...",CAM,10.0,NaN,2017-08-03,2022.0,LW,10.0,91.0,85.0,87.0,95.0,32.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,"Power Free-Kick, Injury Free, Selfish, Early C...",87,87,62,87,87,96,88,87,81,95,94,89,96,92,84,80,61,81,49,84,51,36,87,90,90,94,27,26,29,9,9,15,15,11,84+3,84+3,84+3,90+3,89+3,89+3,89+3,90+3,90+3,90+3,90+3,89+3,82+3,82+3,82+3,89+3,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3

### Mostra aleatòria simpe

In [21]:
#calculem el nombre d'elements de la mostra suposant que pel nostre estudi decidim que la mostra sigui del 0.05% de la població
#(agafem una mostra molt petita per poderla visualitzar)
n = int(.05 * len(df) / 100)
n

9

In [22]:
#podriem generar una mostra aleatòria simple, del 0.05% dels jugadors, amb la funció sample() 
df["long_name"].sample(n)

1346            Matheus Lima Magalhães
2905                   Pere Milla Peña
894          Javier Hernández Balcázar
13340    Jaime Alexandrino Gomes Pinto
14678                       Ryan Sears
4444                    Philipp Pentke
5465                 Ricardo van Rhijn
3190                         Erik Berg
9243                                贺惯
Name: long_name, dtype: object

In [23]:
#també podríem generar la mostra aleatòria per index amb el random de numpy
index_mostra = np.random.choice(a=df.index, size=n)
df.loc[index_mostra]["long_name"]

14808                        Dominik Franke
379      Renato  Soares de Oliveira Augusto
17681                        George Cîmpanu
12846                            Harry Bunn
13717                         Andrea Paroni
15994                         Olivier Deman
6468                     Gary Mackay-Steven
10942                       Kevin Vermeulen
12787                      Ángelo Gabrielli
Name: long_name, dtype: object

### Mostra sistemàtica

In [24]:
#tenim la llista ordenada i consecutiva dels individus de la nostra poblacio (l'index del dataframe)
poblacio_l = df.index.to_list()

#el nombre d'individus de la població
N = len(poblacio_l)
N

18278

In [25]:
#calculem K (coeficient d'elevació)
K = N/n
K

2030.888888888889

In [26]:
#per elegir el primer element de la mostra generem un float aleatori entre 0 i 1 i el multipliquem per k
#arrodonint el resultat a l'integer més proper
x = np.random.random()
inici = round(x * K)
inici

1758

In [27]:
#seleccionem a partir de l'index d'inici, i amb el coeficient d'elevació obtingut, els indexs següents
index_mostra_l = []
for x in range(0, n):
    index_mostra = inici + round(x * K)
    index_mostra_l.append(index_mostra)
index_mostra_l

[1758, 3789, 5820, 7851, 9882, 11912, 13943, 15974, 18005]

In [28]:
#localitzem els index de la nostra mostra
df.loc[index_mostra_l]["long_name"]

1758                 Danilo Cataldi
3789     Abdul Khaled Akiola Adénon
5820                   Lucas Cháves
7851                Danilo Arboleda
9882               Fabian Serrarens
11912       Michelangelo Albertazzi
13943                    Luke Leahy
15974                Giuseppe Cuomo
18005                Isaac Richards
Name: long_name, dtype: object

## Exercici
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

### Mostra estratificada

Estratificarem per nacionalitats i farem una assignació proporcional de les mostres al tamany de l'estrat

In [29]:
#busquem quants jugadors hi ha de cada nacionalitat i observem que hi han 162 nacionalitats diferents (tindrem 162 estrats)
nacionalitats = df["nationality"].value_counts()
estrats_df = pd.DataFrame(index=nacionalitats.index, data=nacionalitats.values, columns=["NUM_JUGADORS"])
estrats_df

             NUM_JUGADORS
England              1667
Germany              1216
Spain                1035
France                984
Argentina             886
...                   ...
Guam                    1
Puerto Rico             1
Hong Kong               1
Gibraltar               1
Belize                  1

[162 rows x 1 columns]

In [30]:
#calcularem quina sera la ponderació de mostres de cada estrat
N = len(df)
estrats_df["PONDERACIO"] = estrats_df.NUM_JUGADORS.apply(lambda x: x / N)
estrats_df

             NUM_JUGADORS  PONDERACIO
England              1667    0.091203
Germany              1216    0.066528
Spain                1035    0.056625
France                984    0.053835
Argentina             886    0.048474
...                   ...         ...
Guam                    1    0.000055
Puerto Rico             1    0.000055
Hong Kong               1    0.000055
Gibraltar               1    0.000055
Belize                  1    0.000055

[162 rows x 2 columns]

In [31]:
#suposant que necessitessim una mostra del 5% de la població a estudiar necessitarem 913 mostres
n = int(5 * N / 100)
n

913

In [32]:
#afegim una columna amb les mostres que asignarem a cada estrat multiplicant el tamany total de la mostra per la ponderació
#i arrodonint a l'integer més proper
estrats_df["MOSTRES"] = estrats_df.PONDERACIO.apply(lambda x: round(x * n))
estrats_df

             NUM_JUGADORS  PONDERACIO  MOSTRES
England              1667    0.091203       83
Germany              1216    0.066528       61
Spain                1035    0.056625       52
France                984    0.053835       49
Argentina             886    0.048474       44
...                   ...         ...      ...
Guam                    1    0.000055        0
Puerto Rico             1    0.000055        0
Hong Kong               1    0.000055        0
Gibraltar               1    0.000055        0
Belize                  1    0.000055        0

[162 rows x 3 columns]

In [33]:
#podem observar que per l'efecte del arrodoniment (doncs necesitem un nombre de mostres sencer) perdem 12 mostres
print("total mostres: ", estrats_df.MOSTRES.sum())
print("falten per asignar: ", n - estrats_df.MOSTRES.sum())

total mostres:  901
falten per asignar:  12

*Quan arrodonim fem que un float pugi al sencer més proper si la seva part decimal es >0.5, i baixi al sencer mes proper si és =< 0.5*

*els que estiguin per sobre de 0.5 ja els haura donat un nombre de mostres més gran de la seva ponderació*

*se m'acut seleccionar, dels que tinguin una part decimal <= a 0.5, els 12 amb major valor, per arrodonir-los a l'alça*

*(en el cas que 

*(també podríem agafar els 12 que amb major part decimal, s'hagessin quedat sense representació a l'estudi, tot depen de les característiques d'aquest, pero em sembla mes probabilística la primera opció)*

In [34]:
import math

#generem una nova columna amb la part decimal
estrats_df["DECIMAL"] = estrats_df.PONDERACIO.apply(lambda x: math.modf(x * n)[0])

#seleccionem els que la seva part decimal sigui <= a 0.5, ordenem i ens quedem amb els 12 primers
index = estrats_df[estrats_df["DECIMAL"] <= .5].sort_values(by="DECIMAL", ascending=False).iloc[:12].index
estrats_df.loc[index]

              NUM_JUGADORS  PONDERACIO  MOSTRES   DECIMAL
Sierra Leone            10    0.000547        0  0.499508
Zambia                  10    0.000547        0  0.499508
Lithuania               10    0.000547        0  0.499508
Costa Rica              30    0.001641        1  0.498523
Egypt                   30    0.001641        1  0.498523
Algeria                 50    0.002736        2  0.497538
Ghana                  130    0.007112        6  0.493599
Saudi Arabia           310    0.016960       15  0.484736
Norway                 350    0.019149       17  0.482766
Chile                  370    0.020243       18  0.481781
Comoros                  9    0.000492        0  0.449557
Luxembourg               9    0.000492        0  0.449557

In [35]:
#els sumarem una mostra
estrats_df.loc[index, "MOSTRES"] += 1
estrats_df.loc[index]

              NUM_JUGADORS  PONDERACIO  MOSTRES   DECIMAL
Sierra Leone            10    0.000547        1  0.499508
Zambia                  10    0.000547        1  0.499508
Lithuania               10    0.000547        1  0.499508
Costa Rica              30    0.001641        2  0.498523
Egypt                   30    0.001641        2  0.498523
Algeria                 50    0.002736        3  0.497538
Ghana                  130    0.007112        7  0.493599
Saudi Arabia           310    0.016960       16  0.484736
Norway                 350    0.019149       18  0.482766
Chile                  370    0.020243       19  0.481781
Comoros                  9    0.000492        1  0.449557
Luxembourg               9    0.000492        1  0.449557

In [36]:
#comprobem que ara sí tenim les mostres que necessitem
print("total mostres: ", estrats_df.MOSTRES.sum())
print("falten per asignar: ", n - estrats_df.MOSTRES.sum())

total mostres:  913
falten per asignar:  0

In [37]:
#sols ens queda seleccionar les mostres aleatòries de cada nacionalitat
#esborrem dels que no agafem mostres
index = estrats_df[estrats_df["MOSTRES"] == 0].index
estrats_df.drop(index=index, inplace=True)

In [38]:
mostra_df = pd.DataFrame()
for row in estrats_df.itertuples():
    pais = row.Index
    mostres = row.MOSTRES
    mostra_df = mostra_df.append(df[df["nationality"] == pais].sample(mostres))
mostra_df[["long_name", "nationality"]]

                         long_name   nationality
15861              Oliver Gastrell       England
15588                 Andre Wright       England
15471                Aynsley Pears       England
16534              Dominic Bernard       England
2661                 Axel Tuanzebe       England
...                            ...           ...
9064                Mustapha Bundu  Sierra Leone
7001              Lazarous Kambole        Zambia
13344               Titas Krapikas     Lithuania
10777  Lars Christian Krogh Gerson    Luxembourg
13276         Abdallah Ali Mohamed       Comoros

[913 rows x 2 columns]

In [39]:
#veiem que a la nostra mostra tenim les representacions buscades per nacionalitat
mostra_df["nationality"].value_counts()

England      83
Germany      61
Spain        52
France       49
Argentina    44
             ..
Curacao       1
Iran          1
Lithuania     1
Angola        1
Comoros       1
Name: nationality, Length: 96, dtype: int64

### mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique)

In [40]:
de imblearn.over_sampling import SMOTE

SyntaxError: invalid syntax (<ipython-input-40-9d32ec595114>, line 1)

In [ ]:
de imblearn.over_sampling import SMOTE 

smote = SMOTE(ratio='minority') 
X_sm, y_sm = smote.fit_sample(X, y)